<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title Document
	block styles
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		link(rel="stylesheet",href="css/main.css")
	block scripts
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
			
body
	.wrapper
		header.principal.row
			.col-xs-7.xm
				h1#title Tu llamada Interior
				p#p-header Deja que la sabiduría de tu ser te guíe
				p Mi programa online que te brindará la claridad y la confianza para conducirte al encuentro de tu propio camino de Pasión, Libertad y Propósito.
			.col-xs-5.xm#conten-img-header
				.img-header
					img#zuzel(src="img/zuzel.png" alt="zuzel amelia")
		.primer-block
			.container-video
				iframe(src='https://player.vimeo.com/video/207691405', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
			.button-call-to-action
				a(href="#"): button DESCUBRE MÁS

			.container-enter
				.preguntas
					p ¿Cuándo fue la última vez que estuviste contigo para descubrir lo que en verdad quieres para tu vida?
					hr.separacion
                	
					p ¿Cuándo fue la última vez que estuviste contigo para descubrir lo que en verdad quieres para tu vida?
					hr.separacion
					
					p ¿Cuándo fue la última vez que te regalaste tiempo para comprender quién eres y qué has venido a hacer a este mundo? 
		
		.segundo-block
			.second-p
				p Si estas preguntas resuenan contigo, te invito a que sigas leyendo. Este puede ser el cambio que buscas para despertar la fuerza y el amor que hay en ti y comenzar a vivir en coherencia con tu auténtico ser.
				h2 Estás aquí por una razón
				p.cursiva Dime si ya has llegado a este momento de tu vida….
		
		.tercer-block
			.tercer
				p Llega un momento en la vida, en que muchos de nosotros sentimos la necesidad de escuchar nuestra llamada interior, para descubrir aquello que realmente deseamos y sintonizar con nuestra verdad más profunda.
				hr.separacion
			.tercer-1
				p La desilusión de nuestra realidad, la falta de confianza y claridad para elegir nuestro rumbo, el miedo a vivir por debajo de nuestras capacidades; el hacer un trabajo que no disfrutamos, o el no ser del todo nosotros mismos, se nos vuelve cada día una carga más pesada.

				p Algo se nos remueve en las entrañas, una sensación de insatisfacción y angustia.

				p Hay veces que nos sentimos tan perdidos y confundidos, lejos de lo que un día simbolizó nuestro norte, que dejamos de brillar con luz propia.

				p Podemos sentir esa necesidad primaria de encontrarnos a nosotros mismos, de saber quiénes somos más allá de los límites auto impuestos y hallar un camino de vida que esté más en sintonía con nuestros valores y aspiraciones.

		.cuarto-block
			.color-amarillo
			.bloques-colores
				.col-xs-6
					p.color-verde 
				.col-xs-6
					p.color-turquesa
				.col-xs-6
					p.color-rosa 
				.col-xs-6
					p.color-fucsia
				.col-xs-6
					p.color-verde 
				.col-xs-6
					p.color-turquesa 
		